<div class="container w-25 p-3 mt-5 border border-1 rounded">
  <div class="row gy-3">
    <h2 class="text-center fw-bold">短網址產生器</h2>
    <div class="text-center">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="w-75"
        alt="短網址圖標"
      />
    </div>
    <form action="/" method="POST" style="display: inline;">
      <div class="input-group">
        <input
          type="url"
          class="form-control"
          name="url"
          id="longUrlInput"
          placeholder="請填入想要轉換的網址"
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
        <button
          type="submit"
          id="submitURL"
          class="btn btn-primary"
        >送出</button>
      </div>
    </form>
  </div>
</div>