<div class="container w-25 mt-5 border border-1 rounded">
  <div class="row gy-5">
    <h2 class="text-center">短網址產生器</h2>
    <img
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="w-75"
      alt="短網址圖標"
    />
    <form action="/" method="POST" style="display: inline;">
      <div class="input-group">
        <input
          type="url"
          class="form-control"
          name="url"
          id="longUrlInput"
          placeholder="請填入想要轉換的網址"
        />
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
        <button
          type="submit"
          id="submitURL"
          class="btn btn-primary"
        >送出</button>
      </div>
    </form>
  </div>
</div>