<div class="container w-25 mt-5 p-3 border border-1 rounded">
  <div class="row gy-3">
    <h2 class="text-center fw-bold">短網址產生器</h2>
    <div class="text-center">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="短網址圖標"
        class="w-75"
      />
    </div>
    <span class="mr-2 pt-3">{{{result}}}</span>
  </div>
  {{{copy}}}

  <script>
    function copyToClipboard() { const copyText =
    document.getElementById("shortUrl").innerText; try {
    navigator.clipboard.writeText(copyText); alert("短網址已複製！"); } catch
    (err) { alert("無法複製短網址。"); } }
  </script>
</div>